header {
  

}

body {
  padding-left: 20px;
  
}

.logo {
  display: inline-block;
}

.items {
  justify-content: center;
}

.items ul {
  display: inline-block;
  padding: left 300px;
  float: left;
  list-style-type: square;
  justify-content: center;

}